.header {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
    flex-basis: 200px;
    align-items: center;
    height: 118px;

    @include tablet {
      flex-basis: 150px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    height: 45px;
  }

  &__phone {
    margin-right: 50px;
    font-weight: 700;
    font-size: 14px;
    color: var(--white);

    @include tablet {
      margin-right: 15px;
    }

    @include mobile {
      display: none;
    }
  }

  &__button {
    width: 190px;
    height: 100%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--background-color);
    background-color: var(--brand-color);

    @include mobile {
      width: 100px;
      font-size: 12px;
    }
  }

  &__menu {
    border: 2px solid var(--brand-color);
    width: 190px;
    height: 100%;

    @include tablet {
      width: auto;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  gap: 10px;

  &__title {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--brand-color);

    @include tablet {
      display: none;
    }
  }
}
