.intro {
  padding-top: 40px;

  &__content {
    display: flex;
  }

  &__media {
    position: relative;
    width: 70%;
  }

  &__video {
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  }

  &__nav {
    margin-left: -40px;
    display: flex;
    align-items: center;
  }
}

.shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: .4;
}

.nav-intro {
  &__item {
    opacity: 0.7;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:hover {
      opacity: 1;
    }

    &[data-trigger-active] {
      opacity: 1;
      transform: translateX(20px);

      & .progress {
        display: block;
        animation: progressBar 5s linear;
      //  animation-iteration-count: on;
      }
    }
  }

  &__link {
    cursor: pointer;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.progress {
  display: none;
  width: 100%;
  height: 2px;
  background-color: var(--gray);

  &__line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
  }
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.visually-hidden2 {
  display: block;
}
