.nav {
  padding: 40px 15px;

  &__list {
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    row-gap: 28px;

    @include mobile {
      flex-direction: column;
      max-height: none;
    }
  }

  &__link {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s linear;

    &::before {
      right: 100%;
      margin-right: 5px;
      background-image: url("../img/svg/left.svg");
      animation: shiftLeft 0.3s steps(2) infinite;
      animation-direction: alternate;
    }

    &::after {
      left: 100%;
      margin-left: 5px;
      background-image: url("../img/svg/right.svg");
      animation: shiftRight 0.3s steps(2) infinite;
      animation-direction: alternate;
    }

    &:hover {
      color: var(--brand-color);

      &::before,
      &::after {
        opacity: 1;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
      transition: all 0.3s linear;
    }

    @include for-desktop {
      font-size: 28px;
    }

    @include tablet {
      font-size: 24px;
    }

    @include mobile {
      font-size: 16px;
    }
  }
}

@keyframes shiftLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes shiftRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}
