<section class="about container">
  <h2 class="about__title">ДОМ - это ...</h2>
  <div class="about__body" data-scroll-root>
    <div class="about__left">
      <div class="about__photo">
        <img src="/img/about/first.png" data-scroll-image width="300" height="300" alt="">
      </div>
    </div>
    <div class="about__right">
      <ul class="about__list list-reset">
        <li class="about__list-item">
          <div class="about-content" data-scroll-block>
            <h3 class="about-content__title">Мир, любовь и единство</h3>
            <p class="about-content__text">
              Все преподаватели нашей школы — действующие танцоры. Мы систематически выезжаем за пределы нашего города и страны для пополнения багажа знаний и опыта, что позволяет нам находить новые пути развития и техники преподавания. Также, мы любим принимать гостей в стенах «10th Avenue» и часто приглашаем топовых танцоров из разных стран для проведения мастер-классов.
            </p>
          </div>
        </li>
        <li class="about__list-item">
          <div class="about-content" data-scroll-block>
            <h3 class="about-content__title">Мир, любовь и единство</h3>
            <p class="about-content__text">
              Все преподаватели нашей школы — действующие танцоры. Мы систематически выезжаем за пределы нашего города и страны для пополнения багажа знаний и опыта, что позволяет нам находить новые пути развития и техники преподавания. Также, мы любим принимать гостей в стенах «10th Avenue» и часто приглашаем топовых танцоров из разных стран для проведения мастер-классов.
            </p>
          </div>
        </li>
        <li class="about__list-item">
          <div class="about-content" data-scroll-block>
            <h3 class="about-content__title">Мир, любовь и единство</h3>
            <p class="about-content__text">
              Все преподаватели нашей школы — действующие танцоры. Мы систематически выезжаем за пределы нашего города и страны для пополнения багажа знаний и опыта, что позволяет нам находить новые пути развития и техники преподавания. Также, мы любим принимать гостей в стенах «10th Avenue» и часто приглашаем топовых танцоров из разных стран для проведения мастер-классов.
            </p>
          </div>
        </li>
        <li class="about__list-item">
          <div class="about-content" data-scroll-block>
            <h3 class="about-content__title">Мир, любовь и единство</h3>
            <p class="about-content__text">
              Все преподаватели нашей школы — действующие танцоры. Мы систематически выезжаем за пределы нашего города и страны для пополнения багажа знаний и опыта, что позволяет нам находить новые пути развития и техники преподавания. Также, мы любим принимать гостей в стенах «10th Avenue» и часто приглашаем топовых танцоров из разных стран для проведения мастер-классов.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
