<section class="description container">
  <div class="description__bg">
    <div class="description__text">
      <h2 class="description__title">Больше,<br> чем танец!</h2>
      <p class="description__description">
        Помимо творческой деятельности, мы проводим лекции и мастер классы, направленные на расширение и донесение сути
        настоящей культуры танца и ее истинных ценностей. Занимаемся изучением философской и этической составляющей
        танцевальной культуры.
      </p>
    </div>
  </div>
</section>
