<section class="intro">
  <div class="container">
    <div class="intro__content">
      <div class="intro__media">
        <video poster="" autoplay loop muted playsinline data-video-active="true" data-video-target="hip-hop" class="intro__video">
          <source src="../video/dance1.mp4" type="video/mp4">
        </video>
        <video poster="" autoplay loop muted playsinline data-video-target="house" class="intro__video visually-hidden">
          <source src="../video/dance2.mp4" type="video/mp4">
        </video>
        <video poster="" autoplay loop muted playsinline data-video-target="breaking" class="intro__video visually-hidden">
          <source src="../video/dance3.mp4" type="video/mp4">
        </video>
      </div>

      <div class="intro__nav nav-intro">
        <ul class="nav-intro__list list-reset">
          <li class="nav-intro__item" data-trigger-active data-video-trigger="hip-hop">
            <a class="nav-intro__link">
              <span>Hip-Hop</span>
              <div class="progress nav-intro__progress">
                <span class="progress__line"></span>
              </div>
            </a>

          </li>
          <li class="nav-intro__item" data-video-trigger="house">
            <a class="nav-intro__link">
              <span>House</span>
              <div class="progress nav-intro__progress">
                <span class="progress__line"></span>
              </div>
            </a>
          </li>
          <li class="nav-intro__item" data-video-trigger="breaking">
            <a class="nav-intro__link">
              <span>Breaking</span>
              <div class="progress nav-intro__progress">
                <span class="progress__line"></span>
              </div>
            </a>
          </li>
<!--          <li class="nav-intro__item">-->
<!--            <a class="nav-intro__link">Breaking</a>-->
<!--          </li>-->
<!--          <li class="nav-intro__item">-->
<!--            <a class="nav-intro__link">Contemporary</a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>

  </div>
</section>
