<div class="graph-modal">
  <div class="graph-modal__container menu-modal" role="dialog" aria-modal="true" data-graph-target="menu">
    <button class="btn-reset graph-modal__close menu-modal__close js-modal-close" aria-label="Закрыть окно меню"></button>
    <div class="menu-modal__content">
      <div class="menu-modal__left">
        <picture>
          <source srcset="img/menu-img.webp" type="image/webp">
          <img loading="lazy" src="img/menu-img.png" class="menu-modal__image" width="240" height="724" alt="">
        </picture>
      </div>
      <div class="menu-modal__right">
        <div class="menu-modal__header">
          <picture>
            <source type="image/webp" srcset="img/logo/logo@1x.webp 1x, img/logo/logo@2x.webp 2x" >
            <img width="150" height="150" loading="lazy"
                 class="menu-modal__logo"
                 src="img/logo/logo@1x.png"
                 srcset="img/logo/logo@2x.png 2x"
                 alt="Логотип танцевальной студии ДОМ">
          </picture>
          <p class="menu-modal__header-text">Меню</p>
        </div>
        <div class="separator"></div>
        <div class="menu-modal__nav">
          <nav class="nav" title="Главное меню">
            <ul class="list-reset nav__list">
              <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>О нас</a></li>
              <li class="nav__item"><a href="#trainers" class="nav__link" data-menu-item data-scroll>Направления</a></li>
              <li class="nav__item"><a href="#tariffs" class="nav__link" data-menu-item data-scroll>Преподаватели</a></li>
              <li class="nav__item"><a href="#tariffs" class="nav__link" data-menu-item data-scroll>Расписание</a></li>
              <li class="nav__item"><a href="#tariffs" class="nav__link" data-menu-item data-scroll>События</a></li>
              <li class="nav__item"><a href="#tariffs" class="nav__link" data-menu-item data-scroll>Медиагалерея</a></li>
              <li class="nav__item"><a href="#tariffs" class="nav__link" data-menu-item data-scroll>Театр</a></li>
              <li class="nav__item"><a href="#tariffs" class="nav__link" data-menu-item data-scroll>Контакты</a></li>
            </ul>
          </nav>
        </div>
        <div class="separator"></div>
        <div class="menu-modal__footer">
          <p class="menu-modal__address">
            ул. Добролюбова, 53/4 (Бизнес центр "Добролюбов")
          </p>
          <div class="menu-modal__contacts">
            <a href="tel:+7(8652)44-38-28" class="menu-modal__phone">+7 (920) 44-38-28</a>
            <a href="mailto:hello@10ave.ru" class="menu-modal__email">hello@10ave.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
