// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --content-width: 1776px;
  --container-offset: 72px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --brand-color: #e5c975;
  --background-color: #1E1D20;
}
